@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  color: #3d5741;
  font-family: 'Sour Gummy', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dbe6da;
}

.App {
  background-color: #dbe6da;
}

.Login_page {
  background-color: #caddcf;
  min-height: 100vh;
}

.centered-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

h3.left-text {
  margin-bottom: 50px;
  line-height: 170%;
}

.login_h1_container {
  text-align: center;
}

h2 {
  padding-left: 3%;
}

hr {
  margin-top: 30px;
}

.places-table {
  margin-top: 20px;
  margin-bottom: 20px;
  color: red;
  width: 80%;
  border-collapse: "collapse";

}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Map-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.map_page_h1{
    font-size: 150%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 1px;
    background-color: #86a884;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-color: #3d5741;
    border-style: solid;
    border-width: 2px;
}

.login_page_h1 {
    font-size: 150%;
    background-color: #86a884;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-color: #3d5741;
    border-style: solid;
    border-width: 2px;
}

.flex_container{
  display: flex;
  justify-content: space-between;
}

.flex_container_left {
  display: flex;
  gap: 30%;
  width: 20%;
  justify-content: space-between;
}

.form-button {
  margin-top: 10px;
  background-color: #dbe6da;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
