@import url("https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  color: #3d5741;
  font-family: 'Sour Gummy', 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

h3.left-text {
  margin-bottom: 50px;
}

h1 {
  margin-top: 0;
  padding-top: 20px;
}

h2 {
  padding-left: 3%;
}

.App {
  background-color: #dbe6da;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header1_container{
    background-color: #86a884;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-color: #3d5741;
    border-style: solid;
    border-width: 2px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
